/*!
 * Select2-to-Tree CSS 0.6.0
 */

.s2-to-tree .select2-results__option.l1 {
	margin-left: 0.6em;
}
.s2-to-tree .select2-results__option.l2 {
	margin-left: 1.4em;
}
.s2-to-tree .select2-results__option.l3 {
	margin-left: 2.2em;
}
.s2-to-tree .select2-results__option.l4 {
	margin-left: 3.0em;
}
.s2-to-tree .select2-results__option.l5 {
	margin-left: 3.8em;
}

.s2-to-tree li.select2-results__option:not(.non-leaf) {
	border-left: 1px solid lightgray;
}
.s2-to-tree li.select2-results__option.non-leaf .expand-collapse:hover {
	color: red;
}
.s2-to-tree li.select2-results__option.non-leaf .expand-collapse::before {
	content: "+";
	position: absolute;
	left: -5px; /* 'padding: 6px' in select2's css */
	width: 11px;
	font-size: larger;	
}
.s2-to-tree li.select2-results__option.non-leaf.opened .expand-collapse::before {
	content: "−";
}

.s2-to-tree li.select2-results__option {
	position: relative;
	box-sizing: border-box;
	padding: 0px 6px;
	height: 1.1em;
	overflow-y: hidden;
	transition: height 0.18s;
}

.s2-to-tree li.select2-results__option[data-pup] {
	height: 0px;
}
.s2-to-tree li.select2-results__option[data-pup].showme {
	height: 1.1em;
	overflow-y: visible;
}

.s2-to-tree.select2-container .select2-results__option--highlighted[aria-selected] > span:not(.expand-collapse) {
  background-color: #5897fb;
  color: white;
  padding: 3px 6px;
}

.s2-to-tree.select2-container li.select2-results__option--highlighted[aria-selected] {
  background-color: inherit;
  color: inherit;
}

.s2-to-tree li.select2-results__option.l1 {
	display: block;
	height: auto;
	overflow-y: visible;
}

.s2-to-tree.searching-result li.select2-results__option {
	height: auto;
	display: block;
}
